.page-container {
    width: calc(100% - 350px - 4rem);
    padding: 3.5rem 2rem 0rem 0rem;
    padding-left: calc(350px + 2rem);
}

.disabled {
    color: var(--secondary-text-color, gray);
}

button, .logo {
    cursor: pointer;
}