.business-panel--main {
    width: 100vw;
    display: flex;
}

.business-panel--page-content {
    width: 80%;
}

.business-panel--page-header {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.business-panel--page-header h1 {
    margin: 0;
    padding: 1rem;
}