.article-thumbnail {
    border: 0.125rem solid black;
    width: 30%;
}

.article-thumbnail--img {
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
}

.article-thumbnail--heading,
.article-thumbnail--subheading {
    margin: .5rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.article-thumbnail--heading {
    font-size: 2rem;
}

.article-thumbnail--subheading {
    font-size: 1.3rem;
}

.main-article {
    width: 80%;
}

.main-article .article-thumbnail--img {
    max-height: 30rem !important;
}