.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home--articles-carosel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--articles {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}