SERVER_URL="url for the server with the api to interact with"
CLIENT_URL="url for the client to open articles on"
MAILER_EMAIL="email used for the email service"
MAILER_PASS="credentials for the email service"