/* .reset-main-container {
    height: 100vh;
    width: 100vw;
} */
.resetPassword-container, .confirmResetPassword-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.svg-icon {
    height: 150px;
    width: 150px;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
}

.p-div {
    width: 350px;
}

p {
    font-size: 20px;
}

.form {
    width: 350px;
}

.input-reset-group {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.input-reset {
    height: 50px;
    width: 69%;
}

.reset-submit-btn {
    height: 56px;
    width: 30%;
}
