.articles-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.carousel-content .article-thumbnail {
    width: 30%;
}