
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
    /* color: #fff; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}
.hamburger-menu{
    /* display: none; */
    /* cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    color: #fff; */
}

.title{

}


.top-navbar-links > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 1rem;
}