.snackbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.snackbar .icon {
    margin-right: 10px;
}

.snackbar .message {
    display: flex;
    flex-flow: row wrap;
    margin-right: 20px;
}

.close-button {
    position: absolute;
    top:0px;
    right:2px;
    background: none;
    cursor: pointer;
    opacity: .1;
}

.snackbar.open {
    opacity: 1;
    z-index: 1;
}

.snackbar.error {
    background-color: #d32f2f;
}

.snackbar.warning {
    background-color: #ff9800;
}

.snackbar.info {
    background-color: #2196f3;
}

.snackbar.success {
    background-color: #4caf50;
}