:root {
    --bp-header-bg-color: #000;
    --bp-header-color: #fff;
}

.business-panel--header {
    background-color: var(--bp-header-bg-color, black);
    color: var(--bp-header-color, white);
    padding: 1.5rem 1rem;
}

.business-panel--header h1 {
    margin: 0;
}