body {
  margin: 0;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: rgb(253, 253, 253);
}
.nav-main {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  height: 15vh;
  top: 0;
  left: 0;
  width: 100%;
}

.left-container {
  margin-top: 10%;
  padding-top: 20em;
}
.left-column {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
}
.left-links {
  list-style: none;
}

.nav-title {
  text-decoration: none;
  padding-left: 40rem;
}

.top-navbar-links > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
}

.main-links > a {
  text-decoration: none;
  margin: 0 0.3rem;
}

.sidebar-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgb(253, 253, 253);
  border: 1px solid black;
}
